body, html {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'Caveat', cursive;
    font-weight: 200;
    font-size: 4em;
    text-align: center;
}

div.title {
    margin: auto;
    width: 50%;
    position: relative;
    top: 10%;
}

div.home {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/Assets/Images/Pyramids_Landscape_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}